/* main body */

.container {
  padding: 0;
  margin: 0;
}

.container-fluid {
	margin: 0;
	padding: 0;
}

.container-fluid .jumbotron{
  padding-left: 0;
  padding-right: 0;
  }

.jumbotron {
	background-color: #fff;
  margin-bottom: 0;
  margin-left: 10%;
  margin-right: 10%;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 100px;
  padding-top: 100px;
}

.jumbotron.contact {
  background-color: #fff;
  margin-bottom: 0;
  margin-left: 10%;
  margin-right: 10%;
  padding-left: 0;
  padding-right: 0;
}


.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
 }

 .row.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%
 }

 div.row.center-block.about {
  margin-left: 10%;
  margin-right: 10%;
 }

.jumbotron > hr {
    border-top-color: #c2cece;
}

.container-fluid h1 {
	text-align: center;
	font-family:'Montserrat', sans-serif;
  font-weight: bold;
	font-size: 18px;
  margin: 0;
}

.container-fluid h2 {

	font-family:'Montserrat', sans-serif;
  font-weight: bold;
	font-size: 14px;


}

.container-fluid p {
	text-align: justify;
	font-family: 'Lato', sans-serif;
	font-size: 12px;
}


.container-fluid h3 {
	font-family: 'Dawning of a New Day', cursive;
	text-align: center;
	margin: -10px 0px 20px 0px;
	padding: 0;
  font-size: 26px;
  color: #c2cece;
}

.container-fluid h3:first-child {
  font-size: 10px;
  color: black;
}


.container-fluid h4 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 26px;
  margin:20px;
}

.container-fluid h2:last-child {
  margin: 10px 0px 0px 0px;
}

.container-fluid h1:first-child {
  margin: 0px 0px 20px 0px;
}

.container-fluid a {
  color: #98ACAC;
}


/* nav bar*/
  .navbar-nav {
    width: 100%;
    text-align: center;

  }
 .navbar-nav li {
      float: none;
      display: inline-block;
      font-family: 'Lato', sans-serif;
      font-weight: 300;
      font-size: 16px;
      color: black;
  }

  .navbar-nav a {
    padding: 0;
  }

.navbar.navbar-default {
  margin-bottom: 0;
  background-color: #EDF4F4;
  border:none 0;
  border-radius: 0px;
  height: 20px;
}




.col-xs-12.col-sm-6.col-md-6 {
  padding: 0;
  margin: 0;
}

img#profilepic.img-circle {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  width: 30%;
  border:solid #c2cece 4px;
}

.morecontent span {
    display: none;
}
.morelink {
    display: block;
    color: #98BBCA;
    font-size: 10px;
}

.slide-1 img {
 width: 100%;

}

.slide-1 figure img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.slide-1 figure:hover img {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

/* Parallex bars */


/* logo */

img#logo.img-responsive{
 	display: block;
 	margin-left: auto;
  margin-right: auto;
	width: 60%;
	padding:0;

}

/* Profile image */

/* Gallery */

.col-xs-4.col-sm-3.col-md-2 {
	padding: 2px;
}

.jumbotron.contact p {
	text-align: center;
	line-height: 2;
}

img.hover-shadow.img-responsive {
  margin:0;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #c2cece;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fff;
  margin: auto;
  padding: 0;
  width: 60%;
  max-width: 1200px;
  border:none;
}

/* The Close Button */
.close {
  color: #fff;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: black;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #c2cece;
  font-size: 14px;
  padding: 8px 12px;
  font-family:'Montserrat', sans-serif;
  position: absolute;
  top: 0;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

div.thumbnail img {
  border:none 0;
  height: 50%;
  width: 100%;
}

div.thumbnail {
  border:none 0;
  margin:0;
  padding:0;
}

/* Footer */

.footer {
	background-color: #EDF4F4;
	margin: 0;
  padding: 10px;
}

.footer a {
	text-align: center;
	line-height: 2;
	background-color: #c2cece;
	color: black;
	font-size: 14px;
}

.footer p {
	margin: 0;
	color: black;
	font-size: 12px;
  text-align: center;
}

div#instafeed {
    display: inline-block;
    margin: 0 auto;
    width: 100%;
}

div#instafeed img {
  padding: 2px;
  width: 12%;
}

form.form-horizontal {
  margin-right: 10%;
  margin-left: 10%;
}

.btn.btn-primary {
  color: #fff;
  background-color:#c2cece;
  border:none; 
  display: block;
  margin: 0 auto;
  font-family:  'Lato', sans-serif;

}



